img {
  width: 100%;
}

figure {
  line-height: 0;
}

::selection {
  background: var(--accent);
  color: var(--accent-text);
}

/* Hide scrollbar while maintaining scroll functionality */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

/* For IE and Edge */
body {
  -ms-overflow-style: none;
}
