body > * {
  padding: 1rem;
}

article:not(:last-child) {
  margin-bottom: 2rem;
  border-bottom: 1px solid black;
  padding-bottom: 2rem;
}

.project-inner > *:not(:last-child),
blockquote:not(:last-child),
p:not(:last-child),
figure:not(:last-child) {
  margin-bottom: 0.5rem;
}

@media (min-width: 960px) {
  header {
    max-width: 50vw;
  }

  main {
    column-count: 2;
    column-gap: 0.5rem;
  }

  /* keep each project intact in a single column */
  main > article {
    break-inside: avoid;
    break-inside: avoid-column; /* newer syntax */
    -webkit-column-break-inside: avoid; /* Safari/old Chrome */
    page-break-inside: avoid; /* print fallback */
  }
}
